@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    font-family: 'Roboto', sans-serif;
}

$primary-color:#FB8555;
$primary-color-2:#FF733A;
$primary-color-gray:#3F3F3F;
$primary-color-green:#134023;
$primary-color-white:#D5DDD7;

$color-black:#000;